*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Body, Quicksand, sans-serif;
}
header{
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;

}
header nav .upperNav button{

    background-color: #213d77;
    padding: 0.3rem 0.6rem 0.2rem 0.3em;
    color: #ffff;
    font-weight: 700;
    font-size: 1rem;

}
nav{
    display: flex;
    flex-direction: column;
}
.upperNav{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;

}
ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.lowerNav{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.lowerNav ul{
    gap: 1rem;
}
.lowerNav button{
    background-color: #213d77;
    color: #ffff;
    padding: 0.4rem 0.7rem 0.3rem 0.7rem;
    font-weight: 700;
    font-size: 0.9rem;
}